@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


/*makes default settings for all code*/
body {   
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  font-size:16px;
  font-weight:300;
  background-color:#E9EAEE;
}

/*default headings font*/
body h1,h2,h3,h4,h5,h6 {
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif ;
}

/*color change for 2nd headings*/
body h2 {
   color:BC6026;
}

/* sets all svg element heights equal to text around */
body svg {
  height:1em;
}


/*navigation bar elements are inline */
.navbar ul li {
  display:inline; 
}

/*default navbar color, makes fixed*/
.navbar{
  background-color:#181C22;
  position:fixed;
  width:100vw;
}

.navbar ul li a {
  color:white;
  padding:.5em;
  font-size:16px;
  font-variant:small-caps;
  text-decoration:none;
}

.logo {
  margin-left:15px;
  fill:currentColor;
}

/*makes elements change color when active or hovered over */
.navbar ul li a:hover {
   color:#D87E28;
   fill:#D87E28;
   text-decoration:none;
}

.headpg{
  padding-top:3em;
  padding-right:5em;
}

.headpg h1 {
  font-size:3em;
}

.headline{
  font-style:italic;
  padding-bottom:1em;
  padding-top:1em;
}

/*logo in headline settings (hidden in xs screen size)*/
.headline svg {
  height:1.5em;
  fill:#D87E28;
}


.information .row {
  text-align:center;
  background-color:#dbdce3;
}

.houricon, .mapicon, .contacticon {
  height:20px;
  fill:#D87E28;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

/*rounds edges of map*/
.map img {
  border:5px;
  border-radius:5px;
}

.menu h1 {
  color:#D87E28;
  text-align:center;
}

.menu .row {
  text-align:left;
}

/*makes all descriptions of drinks/food italics*/
.drinks dd, .treats dd {
  font-style:italic;
  padding-left:1em;
}

.ourstory{
  background-color:#dbdce3;
} 

.ourstory img {
  max-height:300px;
  width:auto;
  margin-left:1em;
  border:5px;
  border-radius:5px;
  float:right;
}

.ourstory  h1 {
  color:#D87E28;
  text-align:center;
}

.drinks dd, .treats dd {
  margin-left:1em;
}

.footer .row {
  border-top-style:solid;
  border-color:#D87E28;
  border-height:3px;
  background-color:#afb3c2;
  font-size:12px;
  padding:1em;
  text-align:left;
}



@media screen and (min-width: 768px) {
  .lowerlogo {
    height:1.5em;
    width:1.5em;
    padding-bottom:1.5em;
    fill:#D87E28;
  }

  .navbar {
    background-color:rgba(24, 28, 34, 0.8);
    font-size:20px;
    margin:0px;

  }
  
  .logo {
    height:20px;
  }
  
  /*changes font padding on left and right to 1em */
  .navbar ul  li a {
    padding-left:1em;
    padding-right:1em;
  }
  
  .headpg {
    background-image:url("../img/background-sm.jpg");
    background-repeat:no-repeat;
    min-height:550px;
    text-align:right;
    color:white;
    width:100vw;
  }
  
  .headline {
    text-align:center;
    font-size:1.25em;
    padding-top:3em;
    padding-bottom:3em;
  }

  .ourstory img {
    max-height:400px;
  }

  .footerinfo {
    text-align:right;
  }

  .footer p.clear {
    clear:both;
  }
}

@media screen and (min-width:992px){
  .headpg{
    background-image:url("../img/background-md.jpg");
  }

  .headpg h1 {
    font-size:4em;
  }

  .information {
    display:inline;
  }
}

@media screen and (min-width:1200px){
  .headpg {
    background-image:url("../img/background-lg.jpg");
  }
}
